*{
     background-color: beige;
    font-family:'Rubik',cursive;
}
.nit{
   border: 6px solid rgb(63, 58, 58);
   padding: 5px 10px;
   margin: 20px auto;
   display: inline-block;
   text-align: center;
   justify-content: center;
   display: flex;
}
        
        body {
            font-family: Arial, sans-serif;
        }
    
        h1 {
            text-align: center;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    
        th,
        td {
            border: 1px solid rgb(63, 58, 58);
            text-align: center;
            padding: 8px;
        }
    
        th {
            background-color: #dfd4d4;
        }
    
        .lunch {
            writing-mode: vertical-lr;
            text-align: center;
            font-weight: bold;
            background-color: #ffe4b5;
        }